*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

img {
  width:1em;
  height:1em;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

div.sidebar {
    grid-area: sidebar;
}

div.header {
    grid-area: header;
}

div.main-content{
    grid-area: main-content;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

div.projects-block {
    grid-area: projects;
}

div.announcements-block {
    grid-area: announcements;
}

div.trending-block {
    grid-area: trending;
}

.sidebar-heading {
  display: flex;
  align-items: center;
}

.sidebar-logo {
  width: 1em;
  height: 1em;
}

.sidebar-text{
  font-size: 1em;
}

